{# src\JO\CoreBundle\Resources\views\Core\contact.html.twig #}

{% extends "JOCoreBundle::layout.html.twig" %}

{% block title %}
    contact - {{ parent() }}
{% endblock %}

{% block body %}

    <h1>Nous contacter</h1>

    <div class="alert alert-info">
        La page de contact n'est pas encore disponible, merci de revenir plus tard.
    </div>

{% endblock %}