{# src\JO\CoreBundle\Resources\views\Core\index.html.twig #}

{% extends "JOCoreBundle::layout.html.twig" %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %}

{% block body %}

    <h1>Accueil</h1>

    <div class="alert alert-info">
        La page de contact n'est pas encore disponible, merci de revenir plus tard.
    </div>

{% endblock %}